@font-face {
	font-family: 'Minecraft Regular';
	src: url('../font/MinecraftRegular.otf');
}

@font-face {
	font-family: 'Minecraft Bold';
	src: url('../font/MinecraftBold.otf');
}

/* -fx-padding: vertical horizontal */

/* GameLayout */
.left-battle-btn {
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-size: 30px;
	-fx-font-family: 'Minecraft Regular';
	-fx-alignment: center-left;
	-fx-padding: 6 6;
	-fx-effect: dropshadow(three-pass-box, rgba(24, 24, 24, 0.4), 4, 0, 0, 1);
}

.right-dialog-btn {
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-size: 30px;
	-fx-font-family: 'Minecraft Regular';
	-fx-alignment: center-left;
	-fx-padding: 6 6;
	-fx-effect: dropshadow(three-pass-box, rgba(24, 24, 24, 0.4), 4, 0, 0, 1);
}

.left-battle-text {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}
